{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/altman.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Gabrielle Altman
      <a href="https://www.linkedin.com/in/gabrielle-altman-215927129/"><i class="fi-social-linkedin"></i></a>
      <a href="mailto:gabrielle.altman@wustl.edu"><i class="fi-mail"></i></a>
      </b>
    <p><i>Summer Undergraduate Research Assistant</i></p>
    <p>Gabrielle is currently an undergraduate student in Bioengineering and Biomedical Engineering at Washington University in St Louis.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
