{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/anwar.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Azraf Anwar
      <a href="https://www.linkedin.com/in/azraf-anwar-4a75a8126/"><i class="fi-social-linkedin"></i></a>
      <a href="mailto:aa3641@columbia.edu"><i class="fi-mail"></i></a>
      </b>
    <p><i>Summer Undergraduate Research Assistant</i></p>
    <p>Azraf is currently an undergraduate student in Bioengineering at Columbia University.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
