{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/barrette.thumb.gif" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Anne Marie Barrette
      <!--<a href="https://scholar.google.com/citations?user=1EgyR3UAAAAJ&hl=en"><i class="fi-social-google-plus"></i></a>-->
      <a href="mailto:annemarie.barrette@icahn.mssm.edu"><i class="fi-mail"></i></a>
      </b>
    <p><i>PhD Rotation Student</i></p>
    <p>Anne was a PhD rotation student in Winter 2016. She is currently a PhD student in the Biophysics and Systems Pharmacology program at Mount Sinai.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
