{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/deming.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Laura Deming
      <a href="http://longevity.vc/"><i class="fi-link"></i></a>
      <a href="https://www.linkedin.com/pub/laura-deming/2a/536/b25"><i class="fi-social-linkedin"></i></a>
      <a href="mailto:laura@longevity.vc"><i class="fi-mail"></i></a>
    </b>
    <p><i>Visiting Scientist</i> and <i>Partner</i>, <a href="http://longevity.vc/">The Longevity Fund</a></p>
    <p>Laura visited us in summer 2015 to learn more about whole-cell modeling. Laura is a partner at The Longevity Fund. Her driving passion is to slow aging and eliminate age-related disease. She has been involved in aging research from an early age. In 2011, Laura won a Thiel Fellowship to start a venture capital firm which invests in companies which are develop products to extend healthy living.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
