{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/gomes.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Antonio Gomes
      <a href="https://www.linkedin.com/pub/antonio-gomes/49/783/9b8"><i class="fi-social-linkedin"></i></a>
      <a href="mailto:antonio.gomes@mssm.edu"><i class="fi-mail"></i></a>
      </b>
    <p><i>Postdoctoral Fellow</i></p>
    <p>Antonio is a Postdoctoral Fellow. He earned his PhD in Bioinformatics from Boston University. His graduate research focused on the development of new physically-motivated methods to analyze ChIP-seq data and their application to better understand the <i>Mycobacterium tuberculosis</i> transcriptional regulatory network.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
