{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/miravet.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Samuel Miravet
      <a href="https://es.linkedin.com/in/miravetverde/en"><i class="fi-social-linkedin"></i></a>
      <a href="https://scholar.google.com/citations?user=CnX2oG4AAAAJ"><i class="fi-social-google-plus"></i></a>
      <a href="mailto:samuel.miravet@crg.eu"><i class="fi-mail"></i></a>
      </b>
    <p><i>Visiting PhD Student</i></p>
    <p>Samuel is a visiting PhD student from the Center for Regulatory Genomics in Barcelona, Spain.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
