{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/pochiraju.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Saahith Pochiraju
      <a href="https://www.linkedin.com/in/saahith-pochiraju-379a6394/"><i class="fi-social-linkedin"></i></a>
      <a href="mailto:saahith116@gmail.com"><i class="fi-mail"></i></a>
      </b>
    <p><i>Bioinformatician</i></p>
    <p>Saahith is developing tools for aggregating the data needed to build large-scale dynamical models, including a search engine for biological data. Saahith earned his BS in Applied Mathematics and BS in Biology from Emory University.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
	