{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/roth.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Yosef Roth
      <!--<a href="https://scholar.google.com/citations?user=1EgyR3UAAAAJ&hl=en"><i class="fi-social-google-plus"></i></a>-->
      <a href="mailto:yosefdroth@gmail.com"><i class="fi-mail"></i></a>
      </b>
    <p><i>Research Assistant</i></p>
    <p>Yosef is developing tools for building the next generation of mechanistic models of biology and using these tools to build a model of <i>Mycoplasma pneumoniae</i>. Recently, Yosef earned a NSF Graduate Fellowship to continue his research. Yosef is a Research Assistant at Mount Sinai and a Master's Student at Yeshiva University.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
