{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/sundstrom.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Andrew Sundstrom
      <a href="https://aesundstrom.com/"><i class="fi-link"></i></a>
      <a href="https://www.linkedin.com/in/aesundstrom/"><i class="fi-social-linkedin"></i></a>
      <a href="https://scholar.google.com/citations?user=w7zKpOsAAAAJ"><i class="fi-social-google-plus"></i></a>
      <a href="mailto:andrew.sundstrom@gmail.com "><i class="fi-mail"></i></a>
      </b>
    <p><i>Assistant Professor</i></p>
    <p>Andrew just joined the lab in October 2017 after working with Ravi Iyengar at Mount Sinai. Andrew has extensive experience in computational neuroscience, software engineering, and computer science. Andrew earned his PhD in Computational Biology from the Courant Institute in New York.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
