{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/wang.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Cathy Wang
      <a href="https://www.linkedin.com/in/cathyshuwang/"><i class="fi-social-linkedin"></i></a>
      <a href="mailto:cathy_wang@college.harvard.edu"><i class="fi-mail"></i></a>
      </b>
    <p><i>Winter Intern</i></p>    
    <p>Cathy is a Wintern Intern from Harvard University.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
