{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/goldberg.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Arthur Goldberg
      <a href="http://www.mountsinai.org/profiles/arthur-p-goldberg"><i class="fi-link"></i></a>
      <a href="https://www.linkedin.com/in/arthurgoldberg"><i class="fi-social-linkedin"></i></a>
      <a href="mailto:arthur.goldberg@mssm.edu"><i class="fi-mail"></i></a>
      </b>
    <p><i>Associate Professor</i></p>
    <p>Arthur is working to develop new software systems to accelerate whole-cell modeling. Arthur has extensive experience in computational biology, genomics, parallel discrete event simulation, software engineering and database systems. Arthur earned his PhD in Computer Science from the University of California, Los Angeles.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
