{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/gossel.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Graeme Gossel
      <a href="https://scholar.google.com/citations?user=1EgyR3UAAAAJ&hl=en"><i class="fi-social-google-plus"></i></a>
      <!--<a href="mailto:arthur.goldberg@mssm.edu"><i class="fi-mail"></i></a>-->
      </b>
    <p><i>Postdoctoral Fellow</i></p>
    <p>Graeme will be joining us in January 2016 to build whole-cell models and to use whole-cell models to understand the basic principles of cellular life. Graeme has extensive experience in dynamical modeling and mathematical analysis. Prior to Mount Sinai, Graeme worked with Andrew Yates to use dynamical models of the immune system to understand how immune cells develop and mature. As as graduate student, Graeme studied how matter behaves as its density approaches that of a black hole. Graeme earned his PhD in Physics from the University of New South Wales.</p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
