{% load static %}

<div class="row">
  <div class="small-4 medium-2 columns">
    <img class="photo" src="{% get_static_prefix %}/img/people/karr.thumb.png" />
  </div>
  <div class="small-8 medium-10 text columns">
    <b>Jonathan Karr
      <a href="https://www.linkedin.com/in/jonrkarr"><i class="fi-social-linkedin"></i></a>
      <a href="mailto:karr@mssm.edu"><i class="fi-mail"></i></a>
      </b>
    <p><i>Fellow</i></p>
    <p>Jonathan is a Fellow in the Institute for Genomics &amp; Multiscale Biology Institute at the Mount Sinai School of Medicine. He earned his PhD in Biophysics and his MS in Medicine from Stanford University. He received his SB in Physics and Brain &amp; Cognitive Sciences from MIT. Jonathan grew up in Potomac MD. Outside the lab he enjoys running, biking, and exploring the city.</p>
    <p>More info: <a href="{% url peopleKarrCv %}">cv</a></p>
  </div>
  <div class="small-0 medium-5">
  </div>
</div>
