{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: People :: Alumni{% endblock %}

{% block content %}
<div class="bio">

	<h3>Alumni</h3>
    {% include "people/altman.html" %}
    {% include "people/anwar.html" %}
    {% include "people/barrette.html" %}
    {% include 'people/chebarro.html' %} 
    {% include "people/deming.html" %}
	{% include "people/goldberg.html" %}    
	{% include "people/gossel.html" %}
    {% include 'people/lang.html' %} 
	{% include 'people/lian.html' %}	
    {% include 'people/liebermeister.html' %}
    {% include 'people/miravet.html' %}
    {% include 'people/pochiraju.html' %}
    {% include "people/rodriguez.html" %}
	{% include 'people/roth.html' %}
    {% include 'people/roy.html' %}
    {% include 'people/ruzic.html' %}
    {% include 'people/srinivasan.html' %}
    {% include 'people/sundstrom.html' %}
    {% include "people/sun.html" %}
    {% include 'people/szigeti.html' %}
    {% include 'people/wang.html' %}
    {% include "people/wu.html" %}
    {% include "people/zheng.html" %}

</div>

{% endblock %}
