{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: People :: Alumni{% endblock %}

{% block content %}
<div class="bio">

	<h3>Alumni</h3>
    {% include "people/anwar.html" %}
    {% include "people/barrette.html" %}
    {% include "people/deming.html" %}
	{% include "people/gossel.html" %}
    {% include 'people/miravet.html' %}
    {% include "people/rodriguez.html" %}
    {% include 'people/roy.html' %}
    {% include "people/sun.html" %}
    {% include 'people/wang.html' %}
    {% include "people/wu.html" %}
</div>

{% endblock %}
