{% extends "base.html" %}

{% load static %}

{% block content %}
<h3>{% block page_title %}{% endblock %}
{% block page_pdf %}{% endblock %}
</h3>

<div class="area">
  	<h4>About the Karr Lab</h4>
  	<p>Despite the explosion of experimental data, we do not understand the details of how phenotype arises from genotype and the environment. We are developing whole-cell computational models which comprehensively predict how cell behavior emerges from the molecular level by representing all of the biochemical activity inside cells. Our goal is to use whole-cell models to transform bioengineering and medicine into rigorous, quantitative disciplines. For example, we believe that whole-cell models could enable bioengineers to design microbial genomes for a variety of industrial applications, as well as enable physicians to tailor medical therapy to individual patients. Our research is highly interdisciplinary, involving systems biology, genomics, bioinformatics, data integration, parallel simulation, optimization, software engineering, and data visualization, and highly team-oriented.</p>
</div>

<div class="area">
  	<h4>About the Institute for Genomics &amp; Multiscale Biology and the Icahn School of Medicine at Mount Sinai</h4>
  	<p>The Icahn Institute for Genomics &amp; Multiscale Biology is a leader in basic and translational genomic and computational biology research. The institute's multidisciplinary researchers bring state-of-the-art genomic technologies together with advanced computational analyses to discover new disease mechanisms, develop new diagnostics, and identify new drug targets. The institute is a highly collaborative and interdisciplinary environment. Please see the institute's website <a href="http://icahn.mssm.edu/research/genomics"><i class="fi-link"></i></a> for more information.</p>

    <p>The Icahn School of Medicine at Mount Sinai is a world leader in translational medicine. The school's multidisciplinary research institutes foster collaboration along a seamless continuum from the laboratory to patient care. State-of-the-art laboratories support groundbreaking research, and abundant clinical venues offer superb patient care and training.</p>
</div>

{% block job_details %}
{% endblock %}

<div class="area">
  	<h4>Career development, recreation, benefits, and compensation</h4>
    <p>The Karr Lab and Mount Sinai offer numerous opportunities for career development, as well as competitive benefits. Compensation will be commensurate with experience and education. Please see the links below for more information.</p>
  	<p>
			<ul class="inpara">
	      	<li>Staff
	        		<ul>
	        		<li>Benefits <a href="http://careers.mountsinai.org/why-work-with-us/core-benefits"><i class="fi-link"></i></a></li>
	        		<li>Recreation <a href="http://recreation.mountsinaihealth.org"><i class="fi-link"></i></a></li>
	        		</ul></li>
	      	<li>Postdoctoral scholars
	        		<ul>
	            <li>Career development <a href="http://icahn.mssm.edu/education/postdoc/careers"><i class="fi-link"></i></a></li>
	            <li>Benefits <a href="http://icahn.mssm.edu/education/postdoctoral-training/policies-and-procedures/benefits"><i class="fi-link"></i></a></li>
	        		<li>Subsidized housing <a href="http://icahn.mssm.edu/education/postdoctoral-training/housing"><i class="fi-link"></i></a></li>
	            <li>Recreation <a href="http://recreation.mountsinaihealth.org/"><i class="fi-link"></i></a></li>
	        		<li>Office of Postdoctoral Affairs <a href="http://icahn.mssm.edu/education/postdoc"><i class="fi-link"></i></a></li>
	        		</ul></li>
	      	<li>Graduate students
	        		<ul>
	        		<li>PhD and MS programs <a href="http://icahn.mssm.edu/education/graduate"><i class="fi-link"></i></a></li>
	        		<li>Student organizations	<a href="http://icahn.mssm.edu/education/student-resources/student-organizations"><i class="fi-link"></i></a></li>
	            <li>Recreation <a href="http://recreation.mountsinaihealth.org/"><i class="fi-link"></i></a></li>
	            <li>Subsidized housing <a href="http://icahn.mssm.edu/education/residencies-and-fellowships/housing/student-housing"><i class="fi-link"></i></a></li>
	        		</ul></li>
	  	</ul>
  	</p>
</div>

<div class="area">
	<h4>How to apply</h4>
	<p><b>Postdoctoral fellows and staff:</b> Please email Jonathan <a href="{% url 'contact' %}"><i class="fi-mail"></i></a> a cover letter and CV.</p>

	<p><b>Graduate students:</b> Please email Jonathan <a href="{% url 'contact' %}"><i class="fi-mail"></i></a> a cover letter and CV, as well as apply to one of Mount Sinai's MS, MD, or PhD programs <a href="http://icahn.mssm.edu/education/graduate-school/degrees-and-programs"><i class="fi-link"></i></a>. PhD applications are due December 1 each year to start the following September.</p>

	<p><b>Undergraduate students</b>: Exceptional undergraduate students should email Jonathan <a href="{% url 'contact' %}"><i class="fi-mail"></i></a> a cover letter and CV and, if eligible, apply to the Mount Sinai Summer Undergraduate Research Program <a href="http://icahn.mssm.edu/education/graduate-school/degrees-and-programs/summer-undergraduate-research-program"><i class="fi-link"></i></a>, the Systems Biology Center New York Summer Undergraduate Research Program <a href="http://sbcny.org/program_details.html"><i class="fi-link"></i></a>, or the Mount Sinai Student Research Program <a href="http://www.mountsinai.org/careers/volunteer-services/student-research"><i class="fi-link"></i></a>.</p>

	<p><b>High school students</b>: Exceptional high school students should email Jonathan <a href="{% url 'contact' %}"><i class="fi-mail"></i></a> a cover letter and CV and, if eligible, apply to the Mount Sinai Student Research Program <a href="http://www.mountsinai.org/careers/volunteer-services/student-research"><i class="fi-link"></i></a>.</p>

	<p>Mount Sinai Medical Center is an equal opportunity/affirmative action employer.</p>
</div>

<div class="area">
	<h4>More information</h4>
	<p>Please contact Jonathan Karr <a href="{% url 'contact' %}"><i class="fi-mail"></i></a>.</p>
</div>
{% endblock %}
