{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: News{% endblock %}

{% block content %}
<h3>News</h3>

<div class="area">
<a name=""></a>
<b>June 2017</b>: Azraf, Rohan, and Saahith join the lab. Welcome!
</div>

<div class="area">
<a name=""></a>
<b>May 2017</b>: Yin Hoon was selected to present her work at the International Conference on Systems Biology <a href="https://www.cpe.vt.edu/icsb2017/"><i class="fi-link"></i></a> at Virginia Tech
</div>

<div class="area">
<a name=""></a>
<b>March 2017</b>: Yosef won a National Science Foundation Graduate Fellowship <a href="https://www.nsfgrfp.org/"><i class="fi-link"></i></a>
</div>

<div class="area">
<a name=""></a>
<b>March 2017</b>: Balasz joined the lab! Welcome Balazs!
</div>

<div class="area">
<a name=""></a>
<b>February 2017</b>: We will be co-organizing a second whole-cell modeling school with Maria Lluch-Senar and Luis Serrano September 4-7 at the CRG in Barcelona, Spain.
</div>

<div class="area">
<a name=""></a>
<b>January 2017</b>: Samuel arrived for his 4 month visit! Welcome Sam!
</div>

<div class="area">
<a name=""></a>
<b>September 2016</b>: John joined the lab! Welcome John!
</div>

<div class="area">
<a name=""></a>
<b>April 2016</b>: We co-organized the first whole-cell modeling school with Maria Lluch-Senar and Luis Serrano at the CRG in Barcelona, Spain.
    <p><ul>
    <li><a href="https://wholecell.org/school-2016">School website</a></li>
    </ul></p>
</div>

<div class="area">
<a name=""></a>
<b>February 2015</b>: Jonathan named Genomeweb Young Investigator</b>
    <p><ul>
    <li><i>Genomeweb</i>: <a href="https://www.genomeweb.com/genetic-research/young-investigator-profile-jonathan-karr">Young Investigator</a></li>
    </ul></p>
</div>

{% endblock %}
