{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: People :: Jonathan Karr{% endblock %}

{% block content %}

<h3>Jonathan Karr</h3>

<div class="area description"><h4>Education</h4>
	<div class="item"><b>Stanford University</b>, Stanford CA<br/>
		<div class="subitem">
		Ph.D. in Biophysics, 2014<br/>
		M.S. in Medicine, 2014
		</div>
	</div>
	<div class="item"><b>Massachusetts Institute of Technology</b>, Cambridge MA<br/>
		<div class="subitem">
		S.B. in Physics, 2006<br/>
		S.B. in Brain &amp; Cognitive Sciences, 2006
		</div>
	</div>
</div>

<div class="area"><h4>Honors &amp; awards</h4>
	<div class="item">NSF INSPIRE Award</div>
	<div class="item">NIH/NIGMS Maximizing Investigators' Research Award</div>
	<div class="item">Genomeweb Young Investigator</div> <!-- Feb 2015 -->
	<div class="item">National Academy of Sciences / Kavli Foundation Frontiers of Science Fellow</div> <!-- Dec 2014 -->
	<div class="item">Keystone Symposia NSF Scholarship</div> <!-- 2013 -->
	<div class="item">James S. McDonnell Foundation Postdoctoral Fellowship Awards in Studying Complex Systems</div>
	<div class="item">Sage Congress Young Investigator Award</div>
	<div class="item">Keystone Symposia Future of Science Fund Scholarship</div>
	<div class="item">Stanford School of Medicine Excellence in Teaching Award</div>
	<div class="item">National Defense Science and Engineering Graduate Fellowship</div>
	<div class="item">National Science Foundation Graduate Fellowship</div>
	<div class="item">Department of Homeland Security Graduate Fellowship</div>
	<div class="item">Stanford University Translational Medicine Scholarship</div>
	<div class="item">Stanford University Graduate Fellowship</div>
	<div class="item">MIT Phi Beta Kappa</div>
	<div class="item">MIT Sigma Pi Sigma</div>
	<div class="item">MIT Department of Brain &amp; Cognitive Sciences Award for Outstanding Academics</div>
</div>

<div class="area description"><h4>Professional experience</h4>
	<div class="item"><b>Department of Genetics &amp; Genomic Sciences, Mount Sinai School of Medicine</b>, New York NY, 2014&ndash;present
		<div class="subitem">
		<i>Fellow</i><br/>
		Developed comprehensive computational models of health and disease.
		</div>
	</div>

	<div class="item"><b>Department of Bioengineering, Stanford University</b>, Stanford CA, 2007&ndash;2014
		<div class="subitem">
		<i>Research Assistant to Prof. Markus Covert</i><br/>
		Developed the first comprehensive <a href="{% url 'research' %}">"whole-cell" computational model</a>. Developed a novel hybrid mathematical framework. Assembled a new molecular biology database. Designed and integrated sub-models of 28 cellular processes. Developed novel algorithms for parameter estimation. Constructed new tools for exploratory data analysis. Conducted a forward genetic screen to validate the model. Investigated the molecular determinants of <i>M. genitalium</i> growth and division to discover new biology. Published work in <i>Cell</i> and <i>Bioinformatics</i>. Mentored several undergraduate and graduate students.</div>
	</div>
	<div class="item"><b>Department of Brain &amp; Cognitive Sciences, MIT</b>, Cambridge MA, Spring 2006
		<div class="subitem">
		<i>Research Assistant to Prof. Jim DiCarlo</i><br/>
		Helped develop novel assistive surgical technology to support visual system research in non-human primates. Developed a device that detects the 3-D localization of implanted electrodes and fiducial markers in rhesus monkeys using two pairs of x-ray sources and detectors. Integrated x-ray hardware into an existing surgical systems. Implemented hardware control and image acquisition and processing software. Technology was published in <i>J Neurophysiology</i>.
		</div>
	</div>
	<div class="item"><b>Department of Brain &amp; Cognitive Sciences, MIT</b>, Cambridge MA, Summers 2004&ndash;05
		<div class="subitem">
		<i>Research Assistant to Prof. Michale Fee</i><br/>
		Developed novel assistive surgical technology to support systems neuroscience research of learning and memory in song birds. Designed and constructed technology that guides the localization of electrode implantation in songbirds. Integrated technology into existing experimental protocols.
		</div>
	</div>
	<div class="item"><b>Biotechnology Division, NIST</b>, Gaithersburg MD, Summer 2003
		<div class="subitem">
		<i>Research Assistant to Dr. Adolfas Gaigalas</i><br/>
		Improved fluorescence measurement techniques by modulating excitation to reduce quenching. Integrated modulation hardware into an existing imaging system.
		</div>
	</div>
  <!--
	<div class="item"><b>Artificial Intelligence Laboratory, MIT</b>, Cambridge MA, Jan 2003
		<div class="subitem">
		<i>Research Assistant, Bridge Project</i><br/>
		Helped develop linguistics analysis and visualization software.
		</div>
	</div>
	-->
	<div class="item"><b>Neuroscience Division, Walter Reed Army Institute of Research</b>, Forest Glen MD, Summers 2001&ndash;02
		<div class="subitem">
		<i>Research Assistant to Dr. Richard Bauman</i><br/>
		Evaluated the neuroprotective efficacy of pharmaceuticals against trauma. Simulated brain injury in rats by blunt head trauma and hypoxia. Quantitated neuroprotective efficacy using cognitive (Morris water maze) and vestibulomotor (beam-balance and narrow beam-walk) tasks.
		</div>
	</div>
	<!--
	<div class="item"><b>Department of Radiology, Suburban Hospital</b>, Bethesda MD, 1998&ndash;02
		<div class="subitem">
		<i>Volunteer</i><br/>
		Assisted diagnostic radiology technicians. Helped acquire, develop, and file radiologic films. Retrieved and filed patient records. Transported patients.
		</div>
	</div>
	-->
</div>

<div class="area multiline"><h4>Peer-reviewed publications</h4>
    <div class="item"><b>Karr JR</b>, Llorens V, Lluch-Senar M, Serrano L &amp; Covert MW. A whole-cell model of <i>Mycoplasma pneumoniae</i> guides biological design. (In preparation).</div>

		<div class="item">Cokelaer T, Bansal M, Bare C, Bila E, Bot BM, Neto EC, Eduati F, Gönen M, Hill SM, Hoff B, <b>Karr JR</b>, Küffner R, Menden MP, Meyer P, Nore R, Pratap A, Prill RJ, Weirauch MT, Costello JC, Stolovitzky G &amp; Saez-Rodriguez J. DREAMTools: a Python package for scoring collaborative challenges. <i>F1000Res</i> 4, 1030 (2015).</div>
    <div class="item">Kazakiewicz D<sup>*</sup>, <b>Karr JR<sup>*,&dagger;</sup></b>, Langner KM &amp; Plewczynski D<sup>&dagger;</sup>. Combined systems and structural modeling repositions antibiotics for <i>Mycoplasma genitalium</i> pii, S1476-9271(15)30089-X (2015).</div>
    <div class="item"><b>Karr JR</b>, Williams AH, Zucker JD, Raue A, Steiert B, Timmer J, DREAM8 Parameter Estimation Challenge Consortium, Wilkinson S, Allgood BA, Bot BM, Hoff BR, Kellen MR, Covert MW, Stolovitzky GA &amp; Meyer P. Summary of the DREAM8 parameter estimation challenge: Toward parameter identification for whole-cell models. <i>PLoS Comput Biol</i> 11, e1004096 (2015).</div>
    <div class="item"><b>Karr JR</b>, Guturu H, Chen EY, Blair SL, Irish JM, Kotecha N &amp; Covert MW. NetworkPainter: Dynamic intracellular pathway animation in Cytobank. <i>BMC Bioinformatics</i> 16, 172 (2015).</div>
    <div class="item"><b>Karr JR<sup>*</sup></b>, Phillips NC<sup>*</sup> &amp; Covert MW. WholeCellSimDB: a hybrid relational/HDF database for whole-cell model predictions. <i>Database</i> (2014).</div>
    <div class="item">Sanghvi JC, Regot S, Carrasco S, <b>Karr JR</b>, Gutschow MV, Bolival B &amp; Covert MW. Accelerated discovery via a whole-cell model. <i>Nat Methods</i> 10, 1192&ndash;1195 (2013).</div>
	  <div class="item">Lee R<sup>*</sup>, <b>Karr JR<sup>*</sup></b> &amp; Covert MW. WholeCellViz: data visualization for whole-cell models. <i>BMC Bioinformatics</i> 14 (2013).</div>
    <div class="item">Purcell O, Jain B, <b>Karr JR</b>, Covert MW &amp; Lu T. Towards a whole-cell modeling approach for synthetic biology. <i>Chaos</i> 23, 025112 (2013).</div>
    <div class="item"><b>Karr JR</b>, Sanghvi JC, Macklin DN, Arora A &amp; Covert MW. WholeCellKB: model organism databases for comprehensive whole-cell models. <i>Nucleic Acids Res</i> 41 D787&ndash;792(2013).</div>
    <div class="item"><b>Karr JR<sup>*</sup></b>, Sanghvi JC<sup>*</sup>, Macklin DN, Gutschow MV, Jacobs JM, Bolival B, Assad-Garcia N, Glass JI &amp; Covert MW. A whole-cell computational model predicts phenotype from genotype. <i>Cell</i> 150, 389&ndash;401 (2012).</div>
    <div class="item">Covert MW, Xiao N, Chen TJ &amp; <b>Karr JR</b>. Integrated flux balance analysis model of <i>Escherichia coli</i>. <i>Bioinformatics</i> 24, 2044&ndash;2050 (2008).</div>

    <div style="margin-top:1rem">
        <sup>*</sup>These authors contributed equally to this work<br/>
        <sup>&dagger;</sup>Corresponding author
    </div>
</div>

<div class="area multiline"><h4>Conference Proceedings</h4>
		<div class="item">Goldberg AP, Chew YH &amp; <b>Karr JR</b>. Toward scalable whole-cell modeling of human cells. <i>ACM SIGSIM Conf Princip Adv Discrete Simul</i>, 259&ndash;262 (2016).</div>
		<div class="item">Kovatch P, Costa A, Chen R, Klein R, Costa KD, Hajjar RJ, Fayad Z, Margolies L, Mendelson D, Yankelevitz D, Goldberg AP, <b>Karr JR</b>, Rice JJ &amp; Gurev V. The potential for exascale to transform healthcare. <i>Supercomput Front</i> (2016).</div>
    <div class="item">Chang R, <b>Karr JR</b> &amp; Schadt EE. Causal inference in biology networks with integrated belief propagation. <i>Pac Symp Biocomput</i>, 359&ndash;70 (2015).</div>
</div>

<div class="area multiline"><h4>Reviews &amp; perspectives</h4>
		<div class="item">Medley JK &amp; <b>Karr JR</b>. Guidelines for reproducibly building and simulating systems biology models. <i>IEEE Trans Biomed Eng</i> 63, 2015&ndash;2020 (2016).</div>
		<div class="item">Waltemath D<sup>*</sup>, <b>Karr JR<sup>*</sup></b> et al. Toward community standards and software for whole-cell modeling. <i>IEEE Trans Biomed Eng</i> 63, 2007&ndash;2014 (2016).</div>
    <div class="item"><b>Karr JR<sup>&dagger;</sup></b>, Takahasi K &amp; Funahashi A. The principles of whole-cell modeling, 27, 18&ndash;24 (2015).</div>
</div>

<div class="area multiline"><h4>Lay articles</h4>
		<div class="item">
			<b>Karr JR</b>, Chew YH &amp; Goldberg AP. Whole-cell computational models can predict how genes influence behavior. <i>Atlas of Science</i> (2015).
		</div>
</div>

<div class="area"><h4>Invited presentations</h4>
		<div class="item">Computational Intelligence and Biomathematics Workshop at the Brazilian Congress on Computational Intelligence. Rio de Janeiro BR, October 2017. <a href="https://jorgeguerrabrazil.wixsite.com/cibio2017"><i class="fi-link"></i></a></div>
        <div class="item">Principles of Gene Circuit Design. Oaxaca MX, September 2017. 		
			<a href="http://www.birs.ca/events/2017/5-day-workshops/17w5143"><i class="fi-link"></i></a>
			<a href="https://youtu.be/4PhLGQTRm7Q"><i class="fi-video"></i></a> 
		</div>
        <div class="item">International Course on Theoretical and Applied Aspects of Systems Biology. Rio de Janeiro BR, July 2017. <a href="http://pseudomonas.procc.fiocruz.br/systems-biology-2017"><i class="fi-link"></i></a></div>
        <div class="item">ISMB Conference. Orlando FL, July 2016. 
			<a href="http://dx.doi.org/10.7490/f1000research.1113292.1"><i class="fi-link"></i></a>
			<a href="https://www.iscb.org/cms_addon/multimedia/flvmedia.php?i=3135"><i class="fi-video"></i></a>
		</div>
		<div class="item">Seattle Modeling Workshop. Seattle WA, May 2016.</div>
		<div class="item">Bioinformatics and Systems Biology Conference. Lunteren NL, Apr 2016.</div>
		<div class="item">Bioinformatics and Systems Biology Conference PhD Retreat. Lunteren NL, Apr 2016.</div>
		<div class="item">Whole-Cell Modeling Summer School. Barcelona SP, Apr 2016.</div>
    <div class="item">Advances in Systems and Synthetic Biology Workshop. Evry FR, Mar 2016.</div>
		<div class="item">COMBINE Forum. Salt Lake City UT, Oct 2015.</div> <!-- keynote -->
		<div class="item">Whole-Cell Modeling School. Rostock GR, Mar 2015.</div> <!-- keynote -->
    <div class="item">Integrative Cell Models Workshop, Lorentz Center. Leiden NL, Jan 2015.</div>
    <div class="item">Japan-American Frontiers of Science Symposium. Tokyo JP, Dec 2014. 
		<a href="http://www.nasonline.org/programs/kavli-frontiers-of-science/past-symposia/2014-jafos.html"><i class="fi-link"></i></a>
		<a href="https://youtu.be/XgNmTm2e1zw"><i class="fi-video" title="Video"></i></a>
	</div>
		<div class="item">Systems Biology and Systems Medicine School, Lake Como School of Advanced Studies. Como IT, Sep 2014.</div>
    <div class="item">International Conference on Systems Biology. Copenhagen DK, Aug 2013.</div>
</div>

<div class="area"><h4>Contributed presentations</h4>
	<div class="item">NY BIG Conference. New York NY, June 2016.</div>
    <div class="item">Keystone Symposium &ndash; Precision Genome Engineering and Synthetic Biology. Breckenridge CO, Mar 2013.</div>
    <div class="item">Biological Computation at Stanford Symposium. Stanford CA, Oct 2012.</div>
    <div class="item">Microbiology Student Symposium. UC Berkeley, Apr 2012.</div>
    <div class="item">Bay Area Microbial Pathogenesis Symposium. UCSF, Mar 2012.</div>
    <div class="item">Keystone Symposium &ndash; Complex Traits. Breckenridge CO, Feb 2012.</div>
    <div class="item">Biophysics Graduate Program Conference. Stanford CA, Jan 2012.</div>
    <div class="item">Biological Computation at Stanford Symposium. Stanford CA, Nov 2011.</div>
    <div class="item">Biophysical Society Annual Meeting. Baltimore MD, Mar 2011.</div>
    <div class="item">Biological Computation at Stanford Symposium. Stanford CA, Nov 2010.</div>
    <div class="item">KMZ Tri-Lab Retreat. Santa Cruz CA, Dec 2009.</div>
</div>

<!--
<div class="area"><h4>Brief presentations</h4>
    <div class="item">Bioengineering Department Retreat. Santa Cruz CA, Oct 2011.</div>
    <div class="item">Biological Computation at Stanford Symposium. Stanford CA, Nov 2008.</div>
    <div class="item">Biological Computation at Stanford Symposium. Stanford CA, Nov 2007.</div>
</div>

<div class="area"><h4>Poster presentations</h4>
    <div class="item">Bio-X Interdisciplinary Initiatives Symposium. Stanford CA, Feb 2013.</div>
    <div class="item">NIH Director's Pioneer Symposium. Bethesda MD, Sep 2012.</div>
    <div class="item">Bio-X Corporate Forum Symposium. Stanford CA, May 2012.</div>
    <div class="item">American Society for Microbiology General Meeting. San Francisco CA, Jun 2012.</div>
    <div class="item">Bio-X Interdisciplinary Initiatives Symposium. Stanford CA, Mar 2012.</div>
    <div class="item">Biophysical Society Annual Meeting. San Diego CA, Mar 2012.</div>
    <div class="item">Biology and Mathematics in the Bay Area Symposium. San Francisco CA, Nov 2011.</div>
    <div class="item">Biophysics Graduate Program Retreat. Menlo Park CA, Sep 2011.</div>
    <div class="item">Bioengineering Department Retreat. Tahoe City CA, Apr 2011.</div>
    <div class="item">Bio-X Interdisciplinary Initiatives Symposium. Stanford CA, Mar 2011.</div>
    <div class="item">International Conference on Biomolecular Engineering. San Francisco CA, Jan 2011.</div>
    <div class="item">Biology and Mathematics in the Bay Area Symposium. Stanford CA, Nov 2010.</div>
    <div class="item">Biophysics Graduate Program Retreat. Menlo Park CA, Aug 2010.</div>
    <div class="item">Biophysical Society Annual Meeting. San Francisco CA, Mar 2010.</div>
    <div class="item">Biology and Mathematics in the Bay Area Symposium. Santa Cruz CA, Nov 2009.</div>
    <div class="item">International Conference on Systems Biology. Stanford CA, Sep 2009.</div>
    <div class="item">International Conference on Systems Biology. Stanford CA, Sep 2009.</div>
</div>
-->

<div class="area"><h4>Seminars</h4>
    <div class="item">University of Connecticut Health Center. Farmington CT, April 2017</div>
    <div class="item">Brigham and Women's Hospital. Boston MA, Oct 2016</div>
    <div class="item">National Institute for Agricultural Research. Jouy-en-Josas FR, Mar 2016</div>
    <div class="item">National Centre for Scientific Research. Paris FR, Mar 2016</div>
    <div class="item">Children's Hospital of Pennsylvania/University of Pennsylvania, Department of Biomedical and Health Informatics. Philadelphia, Feb 2016</div>
    <div class="item">Mt Sinai School of Medicine, Dept of Genetics &amp; Genomic Sciences. New York NY, Jun 2015</div>
    <div class="item">University of Bordeaux / National Institute for Agricultural Research (INRA). Bordeaux FR, Mar 2015.</div>
    <div class="item">National Research Council Institute of Systems Informatics Analysis (IASI-CNR). Rome IT, Sep 2014.</div>
    <div class="item">IBM Center for Computational Biology. Yorktown Heights, Feb 2014.</div>
    <div class="item">Center for Regulatory Genomics. Barcelona, Sep 2013.</div>
    <div class="item">Massachusetts Institute of Technology Synthetic Biology Center. Cambrige MA, Apr 2013.</div>
    <div class="item">Northeastern University Center for Complex Network Research. Boston MA, Apr 2013.</div>
    <div class="item">Stanford University Department of Pediatrics. Stanford CA, Apr 2013.</div>
    <div class="item">Massachusetts General Hospital Center of Systems Biology. Boston MA, Apr 2013.</div>
    <div class="item">Mt Sinai School of Medicine, Dept of Genetics &amp; Genomic Sciences. New York NY, Apr 2013</div>
    <div class="item">Columbia University Computational Biology &amp; Bioinformatics Center. New York NY, Apr 2013</div>
    <div class="item">University of California San Diego, Department of Medicine. La Jolla CA, Apr 2013</div>
    <div class="item">Seminar Series in BioMathematical Methodology. Stanford CA, Jul 2012.</div>
    <div class="item">Molecular Biophysics Seminar. Stanford CA, Nov 2011.</div>
    <div class="item">Bioengineering Department Colloquium. Stanford CA, Oct 2007.</div>
</div>

<!--
<div class="area"><h4>Patents</h4>
    <div class="item">A Whole-Cell Computational Model Predicts Phenotype from Genotype (Pending). <a href="http://techfinder.stanford.edu/technology_detail.php?ID=25932">Stanford OTL</a></div>
</div>
-->

<div class="area"><h4>Professional service</h4>
	<div class="item">Co-organizer, SysMod ISCB Significant Interest Group, 2016&ndash;present</div>
	<div class="item">Co-organizer, Whole-Cell Modeling Summer School, 2016</div>
	<div class="item">Reviewer, National Science Foundation, 2016</div>
	<div class="item">Member, Scientific Committee, Pacific Symposium on Biocomputing, 2015&ndash;present</div>
  <div class="item">Ad hoc reviewer, National Institutes of Health BUILD Initiative, 2015</div>
  <div class="item">Ad hoc reviewer, National Science Foundation, 2014</div>
  <div class="item">Organizer, Graduate fellowships information session, Mount Sinai, 2014&ndash;2015</div>
	<div class="item">Reviewer, NSF Graduate Research Fellowship Program, 2013&ndash;present</div>
	<div class="item">Organizer, Whole-cell parameter estimation DREAM challenge, 2013</div>
	<div class="item">Member, International Scientific Committee, ICSB 2013</div>
	<div class="item">Member, Stanford Biophysics Graduate Program Student Committee, 2006&ndash;2013</div>
	<div class="item">Member, Stanford Biosciences Graduate Student Advisory Committee, 2012&ndash;2013</div>
	<div class="item">Co-organizer, "Writing for Success: Winning a Graduate Fellowship" Info Session, Soc Adv Chicanos &amp; Native Americans in Science Conf, 2011</div>
	<div class="item">Co-organizer, Biological Computation at Stanford Symposium, 2009</div>
	<div class="item">Webmaster, International Conference on Systems Biology, 2009</div>
</div>

<div class="area"><h4>Ad-hoc Reviewer</h4>
	<div class="item"><i>Bioinformatics</i></div>
	<div class="item"><i>BMC Systems Biology</i></div>
	<div class="item"><i>Cell</i></div>
	<div class="item"><i>Computation</i></div>
  <div class="item"><i>Computational Biology and Chemistry</i></div>
	<div class="item"><i>Molecular Systems Biology</i></div>
	<div class="item"><i>Nature</i></div>
	<div class="item"><i>Nature Partner Journals Systems Biology and Applications</i></div>
	<div class="item"><i>Pacific Symposium on Biocomputing</i></div>
	<div class="item"><i>PLoS Computational Biology</i></div>
	<div class="item"><i>PLoS One</i></div>
	<div class="item"><i>Science</i></div>

  <div style="margin-top:1rem">
	See review record at <a href="https://publons.com/author/349145">Publons</a>.
  </div>
</div>

<!--
<div class="area"><h4>Memberships</h4>
	<div class="item">American Physical Society</div>
	<div class="item">American Society for Microbiology</div>
	<div class="item">Biophysical Society</div>
</div>
-->

<div class="area description"><h4>Teaching</h4>
	<div class="item">Organizer, <b>Whole-Cell Modeling Summer School</b>, Barcelona SP, Apr 2016
	</div>

	<div class="item">Organizer, <b>Introduction to multi-algorithm whole-cell modeling</b>, Paris FR, Mar 2016
	</div>

		<div class="item">Instructor, <b>Whole-Cell Modeling Standards Workshop</b>, Rostock GR, Mar 2015
		<div class="subitem">
		Presented lecture on whole-cell modeling methods. Worked with students to develop and integrate sub-models of a new integrative whole-cell model.
		</div>
	</div>
    <div class="item">Lecturer, <b>Systems Biology and Systems Medicine School</b>, Lake Como School of Advanced Studies, Como IT, Sep 2014
		<div class="subitem">
		Presented lecture on integrative computational models.
		</div>
	</div>

	<div class="item">Program assistant, <b>Stanford Summer Research Program/Amgen Scholars Program</b>, Stanford CA, Summer 2012
		<div class="subitem">
		Led professional development workshops for undergraduate students focused on oral and poster presentations, CVs/resumes, and graduate school and fellowship applications.
		</div>
	</div>
	<div class="item">Teaching Assistant, <b>MCP 256: How cells work, Stanford University</b>, Stanford CA, Spring 2008<br/>
		<div class="subitem">
		Led in-class discussions. Tutored students. Created assignment solutions and evaluated assignments. <i>Awarded the Stanford School of Medicine Excellence in Teaching Award to Biosciences Graduate Students.</i>
		</div>
	</div>
	<div class="item">Tutor, <b>8.01X: Electricity &amp; Magnetism, MIT</b>, Cambridge MA, Spring 2003<br/>
		<div class="subitem">
		Reviewed course content and assignments with students.
		</div>
	</div>
	<div class="item">Developer, <b>MasteringPhysics CyberTutor Project, MIT</b>, Cambridge MA, Spring 2003<br/>
		<div class="subitem">
		Developed interactive online tutorials and problems for introductory physics courses.
		</div>
	</div>
</div>

<!--
<div class="area description mentorship"><h4>Mentoring</h4>
		<div class="item">Anne Marie Barrette (Rotation student, Mt Sinai; 2016)</div>
		<div class="item">Graeme Gossel (Postdoctoral advisor, MT Sinai; 2016--present)</div>
		<div class="item">Yin Hoon Chew (Postdoctoral advisor, MT Sinai; 2015--present)</div>
		<div class="item">Roger Rodgriguez (Visiting student, IBM; 2015--present)</div>
		<div class="item">Theodore Pak (PhD thesis committee, MT Sinai; 2015--present)</div>
		<div class="item">Samuel Miravet (MS thesis committee, CRG; 2015--present)</div>
    <div class="item">Nolan Phillips (Thesis mentor, 2013-2014)
        <div class="then">Undergraduate student, Computer Science, University of Prince Edward Island</div>
        <div class="now">Currently: Research assistant, University of Prince Edward Island</div>
    </div>
    <div class="item">John Mason (Rotation mentor, 2013)
        <div class="then">1<sup>st</sup> year PhD student, Bioengineering, Stanford University</div>
        <div class="now">Currently: 3<sup>rd</sup> year PhD student, Bioengineering, Stanford University</div>
    </div>
    <div class="item">Ruby Lee (Thesis mentor, 2012-2013)
        <div class="then">Undergraduate student, Computer Science and Bioengineering, Stanford University</div>
        <div class="now">Currently: Associate project manager, Google</div>
    </div>
    <div class="item">Weizhuang Zhou (Stanford Bioscience Student Association mentor, Summer 2012)
        <div class="then">1<sup>st</sup> year Phd student, Bioengineering, Stanford University</div>
        <div class="now">Currently: 3<sup>rd</sup> year Phd student, Bioengineering, Stanford University</div>
    </div>
    <div class="item">Patricia Nano (Stanford Summer Research Program assistant, Summer 2012)
        <div class="then">Undergraduate student, Biochemistry and Cell Biology, Rice University</div>
        <div class="now">Currently: 2<sup>nd</sup> year PhD student, Chemical and Systems Biology, Stanford University</div>
        <div class="now">Awards: National Science Foundation Graduate Fellowship Honorable Mention</div>
    </div>
    <div class="item">Clayton Brown (Stanford Summer Research Program assistant, Summer 2012)
        <div class="then">Undergraduate student, Biochemistry, Indiana University</div>
        <div class="now">Currently: 2<sup>nd</sup> year PhD student, Biochemistry, Stanford University</div>
        <div class="now">Awards: National Science Foundation Graduate Fellowship</div>
    </div>
    <div class="item">William Leon (Stanford Summer Research Program assistant, Summer 2012)
        <div class="then">Undergraduate student, Biochemistry, University of California at Riverside</div>
        <div class="now">Currently: 1<sup>st</sup> year medical student, University of California at Riverside</div>
    </div>
    <div class="item">Vibha Rao (Stanford Summer Research Program assistant, Summer 2012)
        <div class="then">Undergraduate student, Biology, University of Maryland</div>
    </div>
    <div class="item">Abhishek Arora (Research mentor, 2012)
        <div class="then">Masters student, Electrical Engineering, Stanford University</div>
        <div class="now">Currently: Software engineer, Altiscale</div>
    </div>
    <div class="item">Derek Macklin (Research mentor, 2011)
        <div class="then">1<sup>st</sup> year PhD student, Bioengineering, Stanford University</div>
        <div class="now">Currently: 5<sup>th</sup> year PhD student, Bioengineering, Stanford University</div>
        <div class="now">Awards: Department of Energy CSGF and SCGF graduate fellowships</div>
    </div>
    <div class="item">Raymond (Stanford Medical Youth Science Program mentor, Summer 2010)
        <div class="then">High school student</div>
    </div>
    <div class="item">Harendra Guturu (Rotation mentor, 2009)
        <div class="then">1<sup>st</sup> year PhD student, Electrical Engineering, Stanford University</div>
        <div class="now">Currently: Engineering research associate, Stanford University</div>
        <div class="now">Awards: National Science Foundation Graduate Fellowship</div>
    </div>
    <div class="item">Edward Chen (Research mentor, 2009)
        <div class="then">Masters student, Bioengineering, Stanford University</div>
        <div class="now">Currently: Software engineer, Spotify</div>
    </div>
    <div class="item">Donald (Stanford Medical Youth Science Program mentor, Summer 2008)
        <div class="then">High school student</div>
        <div class="now">Currently: Undergraduate student, Columbia University</div>
    </div>
    <div class="item">Fernando Rios (Stanford Medical Youth Science Program mentor, Summer 2007)
        <div class="then">High school student</div>
        <div class="now">Currently: 2<sup>nd</sup> year medical student, University of California at Merced</div>
        <div class="now">Awards: Questbridge National Match Scholarship</div>
    </div>
</div>
-->

<div class="area"><h4>Outreach</h4>
  <div class="item">Mentor, Stanford Bioscience Student Association Mentoring Program, 2012&ndash;2013</div>
	<div class="item">Volunteer, Humanimal Connection, San Mateo CA, 2010&ndash;2013</div>
	<div class="item">Volunteer, MIT Educational Council, Cambridge MA, 2008&ndash;2012</div>
	<div class="item">Mentor, Stanford Medical Youth Science Program, Stanford CA, 2007&ndash;2011</div>
	<div class="item">Mentor, Stanford University Pre-Grad/Pre-Med Mentoring Program, Stanford CA, 2007&ndash;2008</div>
	<div class="item">Mentor, Stanford University Minority Medical Alliance Mentorship Program, Stanford CA, 2007</div>
	<div class="item">Volunteer, Recording for the Blind &amp; Dyslexic, Cambridge MA, 2005</div>
</div>

<!--
<div class="area"><h4>Funding</h4>
	<table class="funding">
	<tr><td>2016</td><td>NSF, 2016 Whole-celll modeling summer school</td></tr>
	<tr><td>2015&ndash;2018</td><td>NSF/ERASynBio 2nd Joint Call, MiniCell project</td></tr>
	<tr><td>2014&ndash;15</td><td>James S. McDonnell Foundation Postdoctoral Fellowship in Complex Systems</td></tr>
	<tr><td>2013</td><td>Keystone Symposia NSF Scholarship</td></tr>
	<tr><td>2013</td><td>Stanford University Biosciences Office of Graduate Education Travel Grant</td></tr>
	<tr><td>2013</td><td>Stanford University Bio-X Travel Subsidy</td></tr>
	<tr><td>2012</td><td>Keystone Symposia Future of Science Fund Scholarship</td></tr>
	<tr><td>2012</td><td>Stanford University Bio-X Travel Subsidy</td></tr>
	<tr><td>2011</td><td>Stanford University Bio-X Travel Subsidy</td></tr>
	<tr><td>2010</td><td>Stanford University Student Affairs Grant for SACNAS Workshop</td></tr>
	<tr><td>2010</td><td>Stanford Biosciences Student Association Conference Grant</td></tr>
	<tr><td>2008&ndash;11</td><td>National Defense Science and Engineering Graduate Fellowship</td></tr>
	<tr><td>2008&ndash;13</td><td>National Science Foundation Graduate Fellowship</td></tr>
	<tr><td>2006&ndash;11</td><td>Stanford University Graduate Fellowship</td></tr>
	<tr><td>2006</td><td>Department of Homeland Security Graduate Fellowship</td></tr>
	<tr><td>2006&ndash;07</td><td>Stanford University Translational Medicine Scholarship</td></tr>
	</table>
</div>
-->

{% endblock %}
