{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: Press{% endblock %}

{% block content %}
<h3>Press</h3>

<div class="area">
<a name=""></a>
<b>August 2018: NIH awards the Karr Lab funding for the Center for Reproducible Biomedical Modeling</b>
    <p><ul>
    <li>Becker's Hospital Review
        <a href="https://www.beckershospitalreview.com/data-analytics-precision-medicine/nih-awards-consortium-6-5m-to-create-predictive-models-for-precision-medicine.html"><i class="fi-link"></i></a>
    </li>
    <li>Clinical Omics
        <a href="https://www.clinicalomics.com/articles/nih-grants-6-5m-to-new-biological-systems-modeling-consortium/1833"><i class="fi-link"></i></a>
    </li>   
    <li>Crain's New York</li>
    <li>Icahn School of Medicine at Mount Sinai
        <a href="https://www.mountsinai.org/about/newsroom/2018/icahn-institute-partners-in-65-million-nih-award-to-advance-precision-medicine-and-bioengineering-capabilities"><i class="fi-link"></i></a>       
    </li>
    <li>University of Auckland 
        <a href="http://www.abi.auckland.ac.nz/en/about/news/articles/2018/abi-researcher-part-of--6-5-million-nih-grant.html"><i class="fi-link"></i></a>
    </li>
    <li>University of Connecticut Health Center 
        <a href="https://today.uconn.edu/school-stories/uconn-health-awards-honors/?utm_source=uconn-today-plugin"><i class="fi-link"></i></a>
    </li>
    <li>University of Washington 
        <a href="https://bioe.uw.edu/herbert-sauro-to-lead-6-5m-nih-funded-center-for-reproducible-biomedical-modeling/"><i class="fi-link"></i></a>
        <a href="https://www.washington.edu/news/2018/08/07/nih-awards-university-of-washington-partner-institutions-6-5m-for-reusable-reproducible-biomedical-modeling/"><i class="fi-link"></i></a>
    </li>    
    </ul></p>
</div>


<a name=""></a>
<b>February 2015: Jonathan named Genomeweb Young Investigator</b>
    <p><ul>
    <li><i>Genomeweb</i>: <a href="https://www.genomeweb.com/genetic-research/young-investigator-profile-jonathan-karr">Young Investigator</a></li>
    </ul></p>
</div>

<div class="area">
<a name=""></a>
<b>January 2015: Whole-cell model named landmark study by <i>Cell</i></b>
    <p><ul>
    <li><i>Cell</i>: <a href="https://www.cell.com/40/timeline">Cell Line: 1974-2014</a></li>
    </ul></p>
</div>

<div class="area">
<a name="Sinai"></a>
<b>May 2014: Mount Sinai profiles Jonathan</b>
	<p><ul>
    <li>Mount Sinai Institute for Genomics &amp; Multiscale Biology: <a href="https://issuu.com/johndavey/docs/genomics_annual_report_fnl/35?e=4406893/7703943">Annual Report</a></li>
    </ul>
    </p>
</div>

<div class="area">
<a name="DREAM8"></a>
<b>June 2013: DREAM 8 Whole-cell parameter estimation challenge</b>
	<p><ul>
		<li><i>The Scientist</i>: <a href="https://www.the-scientist.com/?articles.view/articleNo/35836/title/May-the-Best-Model-Win/">May the Best Model Win</a></li>
        <li>Sage Bionetworks: <a href="https://sagebase.org/press-releases/dream-and-sage-bionetworks-announce-big-data-challenges-to-impact-biomedical-and-clinical-research/">Big data challenges to impact biomedical and clinical research</a></li>
        <li><i>Badische Zeitung</i>: <a href="https://www.badische-zeitung.de/breitnau/seriensieger-in-forschung--79345049.html">Winning a series of research</a></li>
	</ul></p>
</div>

<div class="area">
<a name="whole-cell"></a>
<b>July 2012: <i>M. genitalium</i> whole-cell model published</b>
	<p><ul>
		<li><i>New York Times</i>: <a href="https://www.nytimes.com/2012/07/21/science/in-a-first-an-entire-organism-is-simulated-by-software.html">In a First, an Entire Organism Is Simulated by Software</a></li>
		<li>BBC: <a href="https://www.bbc.co.uk/news/science-environment-19016772">The virtual cell that simulates life</a></li>
		<li>BBC: <a href="https://www.bbc.com/future/story/20121102-will-we-ever-crack-lifes-code">Will we ever&hellip; reveal all the secrets of life from DNA?</a></li>
		<li>BBC Radio <a href="https://www.bbc.co.uk/iplayer/episode/b01l1dkw/Material_World_26_07_2012/">interview</a></li>
		<li><i>The Atlantic</i>: <a href="https://www.theatlantic.com/technology/archive/2012/07/to-model-the-simplest-microbe-in-the-world-you-need-128-computers/260198/">To Model the Simplest Microbe in the World, You Need 128 Computers</a></li>

    <li><i>Telegraph</i>: <a href="https://www.telegraph.co.uk/news/science/science-news/9440746/Virtual-bacteria-created-by-scientists.html">'Virtual bacteria' created by scientists</a></li>
		<li><i>Telegraph</i>: <a href="https://www.telegraph.co.uk/news/science/roger-highfield/9440294/Virtual-cells-an-amazing-merger-of-the-digital-and-biological.html">Virtual cells: an amazing merger of the digital and biological</a></li>
		<li>MSNBC: <a href="https://www.msnbc.msn.com/id/48264372/ns/technology_and_science-science/#.UAniCbRulu0">Pesky germ inspires first complete 'virtual organism'</a></li>
		<li>Salon: <a href="https://web.archive.org/web/20130701161122/https://open.salon.com/blog/david_brin/2012/07/24/the_first_synthetic_organism_our_victor_frankenstein_moment">The First Synthetic Organism: Our Victor Frankenstein Moment</a></li>
		<li><i>San Francisco Chronicle</i>: <a href="https://www.sfgate.com/health/article/Stanford-researchers-sequence-sperm-3732346.php">Single-celled organism created</a></li>
		<li>NBC Bay Area: <a href="https://www.nbcbayarea.com/news/weird/1st-Organism-Modeled-on-Computers-163281606.html">1st Organism Modeled on Computers</a></li>
		<li><i>Business Insider</i>: <a href="https://www.businessinsider.com/check-out-the-first-complete-computer-model-of-an-organism-2012-7">Check Out The First Complete Computer Model Of An Organism</a></li>
		<li>Endgadget: <a href="https://www.engadget.com/2012/07/24/first-simulated-organism/">Scientists create first computer simulation of a complete organism</a></li>

		<li><i>American Scientist</i>: <a href="https://www.americanscientist.org/libraries/documents/201212121120139490-2013-01Hayes.pdf">Imitation of Life</a></li>
		<li><i>New Scientist</i>: <a href="https://www.newscientist.com/blogs/onepercent/2012/07/first-organism-fully-modelled.html">Virtual germ created on computer for first</a></li>
		<li><i>Chronical of Higher Education</i>: <a href="https://chronicle.com/article/Stanford-Researchers-Produce/133067/">Stanford Researchers Produce First Computer Model of Living Organism</a></li>
		<li>NLM: <a href="https://www.nlm.nih.gov/news/markus_covert.html">NLM-Funded Investigator Creates First Complete Computerized Simulation of an Organism</a></li>

		<li><i>Cell</i> Preview: <a href="https://www.cell.com/abstract/S0092-8674(12)00819-7">The Dawn of Virtual Cell Biology</a></li>
		<li><i>Nature</i> News &amp; Views: Systems biology: <a href="https://www.nature.com/nature/journal/v488/n7409/full/488040a.html?WT.ec_id=NATURE-20120802">A cell in a computer</a></li>
		<li><i>Nature</i> Highlight: <a href="https://www.nature.com/nature/journal/v488/n7411/pdf/488257e.pdf">'Whole-cell' computer model</a></li>
		<li><i>Nature Biotechnology</i> News &amp; Views: <a href="https://www.nature.com/nbt/journal/v30/n9/full/nbt.2358.html">Silicon dreams of cells into symbols</a></li>
		<li><i>Nature Methods</i> News &amp; Views: <a href="https://www.nature.com/nmeth/journal/v9/n9/full/nmeth.2165.html">Life, simulated</a></li>
		<li><a href="https://f1000.com/717950220">Faculty of 1000</a></li>

		<li><i>Bioengineered</i>: <a href="https://www.tandfonline.com/doi/full/10.4161/bioe.22367">Digital biology</a></li>
		<li><i>Microbe</i>: <a href="https://www.microbemagazine.org/index.php?option=com_content&view=article&id=6409:computer-model-for-modest-m-genitalium-ambitious-first-draft&catid=1014:04-2012-current-topics&Itemid=1307">Computer Model for Modest <i>M. genitalium</i>: Ambitious First Draft</a></li>
		<li><i>Communications of the ACM</i>: <a href="https://cacm.acm.org/magazines/2013/2/160163-life-in-simulation/fulltext">Life in Simulation</a></li>

		<li><i>Popular Science</i>: <a href="https://www.popsci.com/science/article/2012-07/researchers-make-first-computer-model-entire-organism">Researchers Build First Complete Computer Model of an Entire Organism</a></li>
		<li><i>Gizmodo</i>: <a href="https://gizmodo.com/5927666/first-ever-complete-computer-model-of-a-cell-produced">First Ever Complete Computer Model of a Cell Produced</a></li>
		<li><i>PC World</i>: <a href="https://www.pcworld.com/article/259772/researchers_make_the_worlds_first_complete_software_simulation_of_an_organism.html">Researchers Make the World's First Complete Software Simulation of an Organism</a></li>
		<li>Venture Beat: <a href="https://venturebeat.com/2012/07/21/big-leap-in-bio-engineering-scientists-simulate-an-entire-organism-in-software-for-the-first-time-ever/">Big leap in bio-engineering: scientists simulate an entire organism in software for the first time ever</a></li>
		<li>FierceBiotechIT: <a href="https://www.fiercebiotechit.com/story/venter-stanford-build-first-computer-model-complete-organism/2012-07-22">Venter, Stanford build first computer model of complete organism</a></li>
		<li>newsy: <a href="https://web.archive.org/web/20121030221511/https://www.newsy.com/videos/scientists-create-first-virtual-organism">Scientists Create First Virtual Organism</a></li>
	</ul></p>
    
<h3>Awards</h3>
<ul>
<li>Yosef Roth, National Science Foundation Graduate Research Fellowship <a href="https://www.nsfgrfp.org/"><i class="fi-link"></i></a>, March 2017</li>
<li>Jonathan Karr, National Science Foundation INSPIRE Award <a href="https://www.nsf.gov/pubs/2014/nsf14106/nsf14106.jsp"><i class="fi-link"></i></a>, September 2016</li>
<li>Jonathan Karr, National Institute of Health MIRA Award <a href="https://www.nigms.nih.gov/Research/mechanisms/MIRA/Pages/default.aspx"><i class="fi-link"></i></a>, July 2016</li>
<li>Jonathan Karr, Genome Web Young Investigator <a href="https://www.genomeweb.com/genetic-research/young-investigator-profile-jonathan-karr"><i class="fi-link"></i></a>, February 2015</li>
<li>Jonathan Karr, National Academy of Sciences / Kavli Foundation Frontiers of Science Fellow <a href="https://www.kavlifoundation.org/kavli-frontiers-science"><i class="fi-link"></i></a>, December 2014</li>
</ul>

    
</div>
{% endblock %}
