{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: Resources :: Graphics{% endblock %}

{% block content %}                                               

 <ul class="small-block-grid-2 medium-block-grid-3 gallery">
    <li>        
        <div class="graphic">
            <span class="padding"></span>
            <iframe width="313" height="140" src="https://www.youtube.com/embed/NQFQXnFlCNY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Animation: simulated life cycle</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/WholeCellViz.mp4"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
    
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Logo.thumb.png"/>
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Logo</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Logo.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
                
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Bioengineering applications.thumb.png"/>
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Bioengineering applications</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Bioengineering applications.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Bioengineering applications-2.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Bioengineering applications</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Bioengineering applications-2.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Medical applications.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Medical applications</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Medical applications.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Drug-repositioning.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Drug repositioning</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Drug-repositioning.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>      
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Mycoplasma genitalium model.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text"><i>Mycoplasma genitalium</i> model</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Mycoplasma genitalium model.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Space-time plot.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">DNA bound proteins space-time plot</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Space-time plot.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Metabolic map.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Predicted metabolic fluxes</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Metabolic map.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Toy model.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Toy model</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Toy model.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>      
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Platform.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Software platform</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Platform.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Simulation algorithm.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Simulation algorithm</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Simulation algorithm.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>      

      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Principles.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Principles of whole-cell modeling</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Principles.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Genomic to networks to models.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Genomics and networks to models</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Genomic to networks to models.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Model construction.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">Model construction</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Model construction.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Whole-cell KB.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">WholeCellKB</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Whole-cell KB.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/Whole-cell Viz schematic.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">WholeCellViz schematic</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/Whole-cell Viz schematic.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
      
      <li>
        <div class="graphic">
            <span class="padding"></span>
            <img src="{% get_static_prefix %}/graphics/WholeCellViz.thumb.png" />
        </div>
        <div class="caption">
            <div class="row">
                <div class="small-10 columns text">WholeCellViz</div>
                <div class="small-2 columns buttons"><a href="{% get_static_prefix %}/graphics/WholeCellViz.png"><i class="fi-download" title="Download"></i></a></div>
            </div>
        </div>
      </li>
</ul>


{% endblock %}