{% extends "joinJob.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: Join us{% endblock %}
{% block page_title %}Join us{% endblock %}


{% block job_details %}
<div class="area">
  	<h4>Joining our team</h4>
  	<p>We're always looking for great people to join our team. Please contact Jonathan to explore opportunities to work with us.</p>
</div>

<div class="area">
  	<h4>Open positions</h4>
    
    <p>Unfortunately, we do not currently have any open positions.</p>

    <!--
    <p>Currently, we are looking for new team members to develop models of bacteria and human cells, as well as to develop new tools to accelerate whole-cell modeling.
      <ul class="inpara">
          <li><a href="{% url join20170316PostdoctoralFellow %}">Postdoctoral Fellow</a> <a href="{% get_static_prefix %}/doc/jobs/2017-03-16-Postdoctoral-Fellow.pdf"><i class="fi-print" title="PDF"></i></a></li>
          <li><a href="{% url join20170316SoftwareEngineer %}">Software Engineer</a> <a href="{% get_static_prefix %}/doc/jobs/2017-03-16-Software-Engineer.pdf"><i class="fi-print" title="PDF"></i></a></li>          
          <li><a href="{% url join20170316StudentResearchAssistant %}">Undergraduate or Master Summer Research Assistant</a> <a href="{% get_static_prefix %}/doc/jobs/2017-03-16-Student-Research-Assistant.pdf"><i class="fi-print" title="PDF"></i></a></li>
          <li><a href="{% url join20160622PostdoctoralFellowBacteria %}">Postdoctoral Fellow in bacterial whole-cell modeling</a> <a href="{% get_static_prefix %}/doc/jobs/2016-06-22-Postdoctoral-Fellow-Bacteria.pdf"><i class="fi-print" title="PDF"></i></a></li>
          <li><a href="{% url join20160622PostdoctoralFellowHuman %}">Postdoctoral Fellow in human whole-cell modeling</a> <a href="{% get_static_prefix %}/doc/jobs/2016-06-22-Postdoctoral-Fellow-Human.pdf"><i class="fi-print" title="PDF"></i></a></li>
          <li><a href="{% url join20160622PostdoctoralFellowMethods %}">Postdoctoral Fellow or Engineer in high-performance whole-cell simulation</a> <a href="{% get_static_prefix %}/doc/jobs/2016-06-22-Postdoctoral-Fellow-Methods.pdf"><i class="fi-print" title="PDF"></i></a></li>
          <li><a href="{% url join20160622PostdoctoralFellowGenomics %}">Postdoctoral Fellow in integrating systems dynamical modeling and genomics/bioinformatics</a> <a href="{% get_static_prefix %}/doc/jobs/2016-06-22-Postdoctoral-Fellow-Genomics.pdf"><i class="fi-print" title="PDF"></i></a></li>          
          <li><a href="{% url join20150317ScientistHuman %}">Postdoctoral Fellow or Senior Scientist in human whole-cell modeling</a> <a href="{% get_static_prefix %}/doc/jobs/2015-03-17-Scientist-Human.pdf"><i class="fi-print" title="PDF"></i></a></li>
          <li><a href="{% url join20150317ScientistBacteria %}">Postdoctoral Fellow or Senior Scientist in bacterial whole-cell modeling</a> <a href="{% get_static_prefix %}/doc/jobs/2015-03-17-Scientist-Bacteria.pdf"><i class="fi-print" title="PDF"></i></a></li>
          <li><a href="{% url join20150317Engineer %}">Biomedical Software Developer in whole-cell modeling</a> <a href="{% get_static_prefix %}/doc/jobs/2015-03-17-Engineer.pdf"><i class="fi-print" title="PDF"></i></a></li>
      </ul>
    </p>
    -->
</div>

<div class="area">
  	<h4>Desired skills/experience</h4>
  	<p>
      Because whole-cell modeling is highly interdisciplinary, we're looking for people with a broad range of skills and experience. Applicants with related experience are also encouraged to apply.
    	<ul class="inpara">
            <li>PhD, MS, or BS in computational biology or related field;</li>
          	<li>Strong experience dynamical modeling, genome-scale modeling, cell biology, genomics, bioinformatics,</li> biochemistry, physics, mathematics, computer science, and/or software engineering;</li>
          	<li>Deep commitment to innovation and a strong desire to tackle the most challenging problems;</li>
          	<li>Abilities to solve challenging problems by thinking creatively, integrating diverse concepts, and pushing through barriers;</li>
          	<li>Passion for transforming bioengineering and medicine;</li>
          	<li>Excellent oral and written communication skills; and</li>
          	<li>Abilities to work independently and within a team.</li>
      	</ul>
  	</p>
</div>
{% endblock %}
