{% extends "joinJob.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: Join us :: Postdoctoral Fellow in human whole-cell modeling{% endblock %}
{% block page_title %}Postdoctoral Fellow in human whole-cell modeling{% endblock %}
{% block page_pdf %}<a href="{% get_static_prefix %}/doc/jobs/2016-06-22-Postdoctoral-Fellow-Human.pdf"><i class="fi-print" title="PDF"></i></a>{% endblock %}

{% block job_details %}
<div class="area">
	<h4>Responsibilities</h4>
  <p>The candidate will develop a whole-cell model of human embryonic stem cells and use the model to gain insights into pluripotency maintenance among other fundamental cell behaviors. This will include aggregating and organizing experimental data, designing submodels, integrating submodels, fitting models, validating models, analyzing simulations, and using models to generate new hypotheses. There are also many opportunities to contribute to the development of new whole-cell modeling methods and tools. The candidate will work closely with our team at Mount Sinai, including our experimental collaborators Profs. Marc Birtwistle <a href="labs.icahn.mssm.edu/birtwistlelab/"><i class="fi-link"></i></a> and Jianlong Wang <a href="http://www.stemcellwanglab.com/"><i class="fi-link"></i></a>. This project is supported by the NIGMS.</p>
</div>

<div class="area">
	<h4>Desired skills/experience</h4>
  <p>Whole-cell modeling is a highly interdisciplinary problem. Consequently, we're looking for people with a broad range of skills and experience. The ideal candidate has the following skills. Applicants with related experience are also encouraged to apply.
  <ul class="inpara">
        <li>PhD in computational biology or related field;</li>
        <li>Strong experience in dynamical and/or genome-scale modeling;</li>
        <li>Broad knowledge of cell biology, genomics, mathematics, and computer programming;</li>
        <li>Deep commitment to innovation and desire to tackle the most challenging problems;</li>
        <li>Abilities to solve challenging problems by thinking creatively, integrating diverse concepts, and pushing through barriers;</li>
        <li>Passion for transforming bioengineering and medicine;</li>
        <li>Excellent oral and written communication skills; and</li>
        <li>Abilities to work independently and within a team.</li>
    </ul>
  </p>
</div>

<div class="area">
	<h4>Funding and duration</h4>
  <p>This position is supported by a five-year NIGMS award.<p>
</div>
{% endblock %}
