{% extends "joinJob.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: Join us :: Undergraduate or Master Summer Research Assistant{% endblock %}
{% block page_title %}Undergraduate or Master Summer Research Assistant{% endblock %}
{% block page_pdf %}<a href="{% get_static_prefix %}/doc/jobs/2017-03-16-Student-Research-Assistant.pdf"><i class="fi-print" title="PDF"></i></a>{% endblock %}

{% block job_details %}
<div class="area">
	<h4>Responsibilities</h4>
	<p>The candidate will help develop detailed computational models of individual cells. This will include aggregating and organizing data; designing, testing, and calibrating models; and developing software tools to enable researchers to build more comprehensive and more predictive models. The candidate will also have opportunities to participate in group meetings and attend seminars. The candidate will work closely with Prof. Karr and one of our postdoctoral fellows.</p>
</div>

<div class="area">
	<h4>Desired skills/experience</h4>
	<p>Whole-cell modeling is a highly interdisciplinary problem. Consequently, we're looking for team members with a broad range of skills. The ideal candidate has the following skills. Applicants with related experience are also encouraged to apply.
		<ul class="inpara">
			<li>Majoring in systems biology, computational biology, bioinformatics or a related field;</li>
			<li>Strong interest in computational modeling;</li>
			<li>Broad knowledge of biology and computer programming; and</li>
			<li>Abilities to solve challenging problems.</li>
		</ul>
	</p>
</div>

<div class="area">
	<h4>Dates and duration</h4>
	<p>The internship will be full-time for 10 weeks, with the possibility to extend into the academic year. The start and end dates are flexible.<p>
</div>

<div class="area">
	<h4>Stipend</h4>
	<p>The stipend for the 10-week internship is $6,800.<p>
</div>

<div class="area">
	<h4>Housing</h4>
	<p>Unfortunately, we are not able to offer housing.<p>
</div>

{% endblock %}
