{% extends "joinJob.html" %}

{% load static %}

{% block head_title %}{{ block.super }} :: Join us :: Postdoctoral Fellow, Scientist, or graduate student in human whole-cell modeling{% endblock %}
{% block page_title %}Postdoctoral Fellow, Scientist, or graduate student in human whole-cell modeling{% endblock %}
{% block page_pdf %}<a href="{% get_static_prefix %}/doc/jobs/2018-07-26-Scientist.pdf"><i class="fi-print" title="PDF"></i></a>{% endblock %}

{% block job_details %}
<div class="area">
	<h4>Responsibilities</h4>
    <p>The scientist will help develop the first whole-cell model of a human embryonic stem cell and use the model to gain insights into pluripotency maintenance among other fundamental cell behaviors. This will include aggregating and organizing experimental data to build models, designing models, calibrating models, validating models, analyzing simulation results, and using models to generate new hypotheses. The scientist will also have opportunities to contribute to the development of new whole-cell modeling methods and software tools.</p>
</div>

<div class="area">
	<h4>Desired skills/experience</h4>
    <p>Whole-cell modeling is highly interdisciplinary. Consequently, we are looking for teammates with a broad range of relevant experience for cell modeling.
        <ul class="inpara">
            <li>Passion for transforming bioengineering and medicine through modeling;</li>
            <li>Desire to tackle challenging problems;</li>
            <li>Commitment to innovation;</li>
            <li>Abilities to think creatively, integrate diverse concepts, and push past barriers;</li>
            <li>Experience in dynamical and/or genome-scale modeling;</li>
            <li>Knowledge of cell biology, genomics, mathematics, and computer programming;</li>
            <li>Excellent oral and written communication skills;</li>
            <li>Abilities to work independently and within a team; and</li>
            <li>BS, MS, or PhD in computational biology or related field.</li>
        </ul>
    </p>
</div>

{% endblock %}
